@model CuaHangBanDoOnline.Models.DanhMuc

<h2>Chi tiết danh mục</h2>

<table class="table">
    <tr><th>Mã Danh Mục</th><td>@Model.MaDanhMuc</td></tr>
    <tr><th>Tên Danh Mục</th><td>@Model.TenDanhMuc</td></tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
<a asp-action="Edit" asp-route-id="@Model.MaDanhMuc" class="btn btn-warning">Sửa</a>