@model IEnumerable<CuaHangBanDoOnline.Models.DanhMuc>

@{
    ViewData["Title"] = "Danh mục sản phẩm";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/">Trang chủ</a>
                <span class="breadcrumb-item active">Danh mục sản phẩm</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Danh mục sản phẩm</span>
    </h2>
    <div class="row px-xl-5 pb-3">
        @foreach (var danhMuc in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/DanhMuc/Details/@danhMuc.MaDanhMuc">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <div class="cat-img position-relative overflow-hidden">
                                <i class="fa fa-3x fa-archive p-4"></i>
                            </div>
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>@danhMuc.TenDanhMuc</h6>
                            <small class="text-body">@danhMuc.HangHoaDanhMucs.Count sản phẩm</small>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<!-- Categories End -->