@model CuaHangBanDoOnline.Models.HoaDon

<h2>Chi tiết hóa đơn</h2>

<table class="table">
    <tr><th>Mã Hóa Đơn</th><td>@Model.MaHoaDon</td></tr>
    <tr><th>Ngày Tạo</th><td>@Model.NgayTao</td></tr>
    <tr><th>Tổng Tiền</th><td>@Model.TongTien VNĐ</td></tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
<a asp-action="Edit" asp-route-id="@Model.MaHoaDon" class="btn btn-warning">Sửa</a>
